BasedOnStyle: llvm
ColumnLimit: 80
IndentWidth: 4

AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always
BreakConstructorInitializers: BeforeComma

AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false

PointerAlignment: Right
ReferenceAlignment: Right

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

SpaceAfterTemplateKeyword: false
SpacesInSquareBrackets: true
SpacesInParentheses: true
SpacesInCStyleCastParentheses: true
SpacesInAngles: true
